body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.footer {
    padding: 20px;
    margin: 0px;
    margin-top: auto;
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: large;
}

.head {
    padding: 30px;
    margin: 0px;
    margin-bottom: auto;
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: xx-large;
}

.middle {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.container {
    margin-left: auto;
    border: 1px solid black;
    height: 700px;
    width: 700px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: antiquewhite;
    padding: 20px;
    margin-left: 50px;
    margin-right: auto;
}

.controls button {
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-family: monospace;
    font-weight: lighter;
    font-size: x-large;
    background-color: white;
    border: 0px solid black;
    margin: 20px;
}